
    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
    <head>
    <% include ../partials/head %>

    </head>
<body>
<% include ../partials/navbar %>
 <div class="container sign-in-container">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9">
                <form class="form-post-content">
                    <h2 class="form-post-content-heading">Post an Article</h2>
                    <div class="form-group">
                        <label for="add-post-title" >Title</label>
                        <input type="text" id="add-post-title" class="form-control" placeholder="Add a Title" required="" autofocus=""/>
                    </div>
                    <div class="form-group">
                        <label for="form-embed-player" >Media</label>
                        <input type="text" id="form-embed-player" class="form-control" placeholder="Add an embeded player html snippet or an image code."/>
                    </div>
                    <div class="form-group">
                        <label for="form-post-article-body">Article Body</label>
                        <textarea class="form-control" required=""  rows="5" id="form-post-article-body" placeholder="Write the article body here."></textarea>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block sign-in-btn" type="submit"> Post it! </button>
                </form>
            </div>
        </div>

    <% include ../partials/foot %>
    </body>
</html>